<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians Admin | Add Lesson</title>
    <link rel="shortcut icon" href="https://ik.imagekit.io/sheryians/Sheryians_Logo_wFKd9VClG.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://richtexteditor.com/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="https://richtexteditor.com/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='https://richtexteditor.com/richtexteditor/plugins/all_plugins.js'></script>
</head>
<body class="bg-white text-black dark:bg-slate-900 dark:text-white">
    <div class="max-w-[1580px] m-auto overflow-hidden">
        <!-- // menu  -->
        <%- include("menu.ejs")%>
        
        <!-- // page   -->
        <div id="page1" class="w-full h-[91vh] flex">
            <!-- // nav  left -->
            <%- include("nav.ejs")%>
            <!-- // nav right  -->
            <div class="page1-right w-[100%] md:w-[80%] h-full bg-slate-950 p-3 overflow-auto">
                <div class="nav2 w-full h-[8vh] flex justify-between items-center bg-slate-800 px-5 border-b-slate-700 border-b">
                    <h1 class="text-xl font-semibold">Add Lesson</h1>
                    <!-- <a href="#" class="p-[10px] bg-green-800 rounded-sm font-medium text-sm">Add new book</a> -->
                </div>
                <div class="nav2 w-full py-3 bg-slate-800">
                    <!-- // add Lesson form  -->
                    <form action="/admin/add-lesson/<%= courseid%>" class="w-full p-2 md:p-7" method="post">
                        <div class="input flex flex-col mt-3">
                            <label for="#" class="font-medium">Lesson Name:</label>
                            <input type="text" name="lesson" placeholder="Lesson Name" class="text-sm h-full py-[11px] outline-none bg-slate-800 border-slate-700 border rounded mt-1 px-2" id="">
                        </div>
                        <div class="input flex flex-col mt-3">
                            <label for="#" class="font-medium">Lesson Heading:</label>
                            <input type="text" name="heading" placeholder="Lesson Heading" class="text-sm h-full py-[11px] outline-none bg-slate-800 border-slate-700 border rounded mt-1 px-2" id="">
                        </div>
                        
                        <div class="input flex flex-col mt-3">
                            <label for="#" class="font-medium">Lesson Description:</label>
                            <textarea id="inp_editor1" name="des" class="max-w-[100%] resize-y h-full [word-spacing:3px] text-sm py-[11px] outline-none text-black bg-slate-800 border-slate-700 border rounded mt-1 px-3"></textarea>
                        </div>
                        <div class="btn mt-3 flex gap-3">
                            <button class="bg-orange-500 py-2 px-4 text-sm font-medium rounded-sm" type="submit">Submit</button>
                            <button class="bg-red-500 py-2 px-4 text-sm font-medium rounded-sm" type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var editor1 = new RichTextEditor("#inp_editor1");
    </script>
    <script>
        document.querySelectorAll(".select-btn").forEach((btn,item1)=>{
            btn.addEventListener("click",()=>{
                document.querySelectorAll(".input-select").forEach((inpu,item2)=>{
                    if(item1 == item2){
                        inpu.click();
                    }
                })
            })
        })
        document.querySelectorAll(".input-select").forEach((inpu,item1)=>{
            inpu.addEventListener("change",()=>{
                document.querySelectorAll(".select-p").forEach((seleP,item2)=>{
                    if(item1 == item2){
                        seleP.textContent = inpu.files[0].name
                    }
                })
            })
        })
    </script>
</body>
</html>