<div class="page1-left w-[180px] left-[-180px] transition-all md:left-[0px] z-50 bg-[#0F172A] md:w-[20%] h-full absolute md:relative flex flex-col py-6 px-3 gap-2">
    <a href="/admin/deshboard" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <svg class="fill-white" height="24px" id="Layer_1" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M15.45,7L14,5.551V2c0-0.55-0.45-1-1-1h-1c-0.55,0-1,0.45-1,1v0.553L9,0.555C8.727,0.297,8.477,0,8,0S7.273,0.297,7,0.555  L0.55,7C0.238,7.325,0,7.562,0,8c0,0.563,0.432,1,1,1h1v6c0,0.55,0.45,1,1,1h3v-5c0-0.55,0.45-1,1-1h2c0.55,0,1,0.45,1,1v5h3  c0.55,0,1-0.45,1-1V9h1c0.568,0,1-0.437,1-1C16,7.562,15.762,7.325,15.45,7z"/></svg> 
        Home
    </a>
    <a href="#" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <?xml version="1.0" ?><svg class="fill-white" height="24px" width="24px" id="Layer_1_1_" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M12,9H8H4c-2.209,0-4,1.791-4,4v3h16v-3C16,10.791,14.209,9,12,9z"/><path d="M12,5V4c0-2.209-1.791-4-4-4S4,1.791,4,4v1c0,2.209,1.791,4,4,4S12,7.209,12,5z"/></svg> 
        Admin
    </a>
    <a href="/admin/users" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <?xml version="1.0" ?><svg class="fill-white" height="24px" width="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g id="about"><path d="M16,16A7,7,0,1,0,9,9,7,7,0,0,0,16,16ZM16,4a5,5,0,1,1-5,5A5,5,0,0,1,16,4Z"/><path d="M17,18H15A11,11,0,0,0,4,29a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1A11,11,0,0,0,17,18ZM6.06,28A9,9,0,0,1,15,20h2a9,9,0,0,1,8.94,8Z"/></g></svg>
        Users
    </a>
    <a href="/admin/uploads" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <?xml version="1.0" ?><svg class="fill-white" height="24px" width="24px" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758a2.01 2.01 0 0 1 1.414.586l1.121 1.121c.009.009.021.012.03.021.086.08.182.15.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.046.208-.117.294-.196.009-.009.021-.012.03-.021l1.121-1.121A2.01 2.01 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 15h-4.758a4.03 4.03 0 0 0-2.242.689V6c0-.551.448-1 1-1h6v13z"/></svg>
        Videos
    </a>
    <a href="/admin/mentors" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <?xml version="1.0" ?><svg class="fill-white" height="24px" width="24px" data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M466.61,170.49a6.24,6.24,0,0,0-1.49-4c-1.66-2-41.61-48-118.46-48-55.82,0-80.67,24.25-90.66,39-10-14.73-34.84-39-90.66-39-76.84,0-116.8,46-118.46,48a6.24,6.24,0,0,0-1.49,4V387.26a6,6,0,0,0,1,3.2,5,5,0,0,0,.41.61,6.05,6.05,0,0,0,2.58,2s.06.06.1.07.24,0,.36,0a6,6,0,0,0,1.8.36h408.7a6.2,6.2,0,0,0,2.16-.39s.05-.05.08-.06a6.07,6.07,0,0,0,2.62-2,5.87,5.87,0,0,0,.39-.58,6.12,6.12,0,0,0,1-3.21ZM346.66,131c63,0,99.78,34.09,107.43,41.95V372.62c-16.85-14.15-52.82-37.38-107.43-37.38-46.47,0-71.54,16.86-84.39,31V171.68C264.91,165.48,282.49,131,346.66,131Zm97.72,250H266.5c8.31-12.15,29.93-33.23,80.16-33.23C395.31,347.77,428.34,368.12,444.38,381ZM57.91,172.94C65.52,165.08,102.12,131,165.34,131c64.17,0,81.76,34.48,84.4,40.68V366.24c-12.85-14.14-37.92-31-84.4-31-54.6,0-90.58,23.23-107.43,37.38ZM245.51,381H67.56c16-12.88,48.92-33.23,97.78-33.23C215.59,347.77,237.21,368.86,245.51,381Z"/></svg>
        Mentors
    </a>
    <a href="/admin/courses" class="flex items-center gap-2 font-semibold hover:bg-slate-800 py-2 px-4 rounded">
        <?xml version="1.0" ?><svg class="fill-white" height="24px" width="24px" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zM4 21h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm13 0c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4z"/></svg>
        Courses
    </a>
    
</div>

<!-- <script>
    document.addEventListener("contextmenu",(event)=>{
            event.preventDefault()
        })
        document.addEventListener("keydown",(event)=>{
            if(event.ctrlKey && event.shiftKey && (event.key === 'I' || event.key === 'i') || event.ctrlKey && event.shiftKey(event.key === 'U' || event.key === 'u')){
                event.preventDefault()
            }
        })
</script> -->