<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Coding School | Campus Ambassador</title>
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="../../stylesheets/campus.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <!-- // nav  -->
        <%- include('nav.ejs')%>
        <!-- // header  -->
        <div id="header">
            <h1>Campus Ambassador</h1>
            <button>{ Sheryians Coding School }</button>
            <div class="search">
                <i class="ri-search-line"></i>
            </div>
        </div>
        <!-- // header \\ -->

        <!-- // placement  -->
        <div id="placement">
            <div class="card">
                <div class="circle">
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FRemove%20background%20project%20(3).png?alt=media&token=8e9b01d7-9004-403c-b534-947fa96b6afb" alt="">
                </div>
                <div class="bottom">
                    <h3>Sundram Jatav</h3>
                    <p>SCET</p>
                </div>
            </div>
            <div class="card">
                <div class="circle">
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FRemove%20background%20project%20(1)%20(1).png?alt=media&token=bb4be54c-3b37-4810-898b-7272f0c58bba" alt="">
                </div>
                <div class="bottom">
                    <h3>Subhash Kumar</h3>
                    <p>SCET</p>
                </div>
            </div>
            <div class="card">
                <div class="circle">
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FUntitled%20(2).png?alt=media&token=221811ef-b3cf-4328-a91f-2a3fa155e423" alt="">
                </div>
                <div class="bottom">
                    <h3>Vikash Baghel</h3>
                    <p>SCET</p>
                </div>
            </div>
            <div class="card">
                <div class="circle">
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Falok.jpg?alt=media&token=1540162e-6d6d-47cd-95be-1b11394f6a06" alt="">
                </div>
                <div class="bottom">
                    <h3>Alok Rathore</h3>
                    <p>SCET</p>
                </div>
            </div>
            
        </div>
        <!-- // placement \\ -->

        <!-- //bhopal changing -->
        <div id="bhopal">
            <div class="left">
                <h1>BHOPAL <br> IS <br> CHANGING.</h1>
            </div>
            <div class="right">
                <div class="content">
                    <h3>With the help of our Campus Ambassadors
                        we are changing Bhopal, we are helping
                        300+ students to get better at coding and
                        basic computer education.</h3>
                    <button>Become a Campus Ambassador</button>
                </div>
            </div>
        </div>
        <!-- // bhopal changeing \\  -->

        <!-- // sliding  -->
        <div id="slide">
            <div class="top">
                <div class="left">
                    <h1>STORIES</h1>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>300+ students enrolled for free coding sessions. 50+ Campus Ambassadors in different colleges of Bhopal. Moving towards becoming biggest coding network of India. We believe in our goals and purpose we're working for.</h3>
                        <button>Join The Movement</button>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="circle"><i class="ri-arrow-left-s-line"></i></div>
                <div class="card">
                    <div class="img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Fgroup.jpg?alt=media&token=740ee0a4-e0d7-425d-8784-896236c12371" alt="">
                    </div>
                    <h3>SCET Collage</h3>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Fsharthak.jpg?alt=media&token=7eef36c1-4b4b-4109-b6b4-23a8647500dd" alt="">
                    </div>
                    <h3>My Achievement</h3>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Fzero%20to%20on.jpg?alt=media&token=9896324a-83a9-41ef-a5f4-6e1eb1be9203" alt="">
                    </div>
                    <h3>Zero To One</h3>
                </div>
                <div class="circle"><i class="ri-arrow-right-s-line"></i></div>
            </div>
        </div>

        <!-- // banner  -->
        <div id="banner">
            <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FFullSizeRender(3)%20(1).jpg?alt=media&token=3f1bc688-f5f4-41c0-9b27-b081eeb15348" alt="">
            <div class="overlape"></div>
            <p class="p">IMPROVE OR LESS</p>
        </div>
        <div id="deter">
            <h1>Determination.</h1>
            <div>
                <p>Dedicated</p>
                <p>We're a Group of students from different colleges working on the same mission. Let's make Bhopal known for designing and coding</p>
            </div>
        </div>
        <!-- // banner  \\ -->

        <!-- /footer  -->
        
        <div id="footer5">
            <div class="fLeft">
                <h1>Our
                   <br> Team</h1>
                   <div>
                        <i class="ri-arrow-right-down-line"></i>
                        <p>Sheryians Campus Ambassador, a group of elite coders, who work for a purpose, a purpose which will change the entire coding industry of Bhopal.</p>
                   </div>
            </div>
            <div class="fRight">
                <div class="content">
                <p>Everytime we face a student who suffers when it comes to computer education, it hurts and we want to change exactly that.</p>
                <div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FDSC_0208%20(1).jpg?alt=media&token=0383a11a-9d14-4745-bdf2-5b008bbdadaf" alt="">
                </div>
                </div>
            </div>
        </div>
        <!-- /footer  \\ -->

        
        <!-- // nav bar \\\ -->
    </div>
</body>
</html>