<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom | Sheryians coding school</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="../../stylesheets/deshboard.css">
</head>
<body>
    <div id="main">
        <!-- // nav bar  -->
        <%- include('nav.ejs')%>
        <!-- // nav bar \\ -->

        <div id="container">
            <div class="container-left">
                <div class="container-left-top">
                    <div class="img">
                        <img src="https://ik.imagekit.io/sheryians/profile_dp/642258138db91d6e9f03fae6-blob__iAIqBz1t" alt="">
                    </div>
                    <h2>Abhay Gautam</h2>
                </div>
                <div class="container-left-bottom">
                    <div class="select-card profile">
                        <i class="ri-user-6-line"></i>
                        <h3>My Profile</h3>
                    </div>
                    <div class="select-card card-btn profile">
                        <i class="ri-user-6-line"></i>
                        <h3>Edit Profile</h3>
                    </div>
                    <div class="select-card card-btn classroom">
                        <i class="ri-error-warning-line"></i>
                        <h3>My Classroom</h3>
                    </div>
                    <div class="select-card card-btn">
                        <!-- <i class="ri-user-6-line"></i> -->
                        <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/img%2Fcertificate-svgrepo-com(1).svg?alt=media&token=745d52f4-4d70-4752-b89a-5eed5f166291&_gl=1*6zwhwm*_ga*MTU0MzYzOTc2MS4xNjgyMzIwNDky*_ga_CW55HF8NVT*MTY4NjA3NDkzNi4zLjEuMTY4NjA3NDk2NS4wLjAuMA.." alt="">
                        <h3>My Certificate</h3>
                    </div>
                    <div class="select-card">
                        <i class="ri-logout-box-line"></i>
                        <h3>Log out</h3>
                    </div>
                    
                </div>
            </div>
            <div class="container-right">
                <div class="des-cards active container-right-card-1">
                    <h1>Welcome, <span>abhay</span></h1>
                    <p>Account Details</p>
                    <div class="de">
                        <label for="#">Name:</label>
                        <span>Abhay</span>
                    </div>
                    <div class="de">
                        <label for="#">Email:</label>
                        <span>abhaygautam626039@gmail.com</span>
                    </div>
                    <div class="de">
                        <label for="#">Mobile Numbler:</label>
                        <span>+91 6260396658</span>
                    </div>
                    <div class="de">
                        <label for="#">Address:</label>
                        <span>Bhopal</span>
                    </div>
                    <div class="de">
                        <label for="#">Education:</label>
                        <span>12th</span>
                    </div>
                    <div class="de">
                        <label for="#">Occapation:</label>
                        <span>Student</span>
                    </div>
                    
                </div>
                <div class="des-cards container-right-card-1">
                    <h1>Welcome, <span>abhay</span></h1>
                    <p>Account Details</p>
                    <div class="input-name">
                        <input type="text" placeholder="Enter your first name">
                        <input type="text" placeholder="Enter your second name">
                    </div>
                    <div class="input-email">
                        <input type="email" placeholder="Enter your email address">
                    </div>
                    <div class="input-mobile">
                        <input type="tel" placeholder="Enter your mobile no.">
                        <button>Save</button>
                        <button>Cancel</button>
                    </div>
                </div>
                
                <div class="des-cards container-right-card">
                    <div class="card">
                        <div class="img">
                            <img src="https://ik.imagekit.io/sheryians/courses_gif/Creative_Web_Design___Development__Create_Modern_Web_Experiences-sarthakweb___1_-MgTLQrL3.png" alt="">
                        </div>
                        <h2>Creative Web Design & Development, Create Modern Web Experiences</h2>
                        <div class="start">
                            <div class="circle">
                                <i class="ri-information-fill"></i>
                            </div>
                            <h3>Starting on <span>April 10th</span></h3>
                        </div>
                        <div class="time-date">
                            <div class="time">
                                <h3>time - <span>7:30</span> pm</h3>
                            </div>
                            <div class="day">
                                <h3>day - m t w t f <span>s s</span></h3>
                            </div>
                        </div>
                        <div class="link">
                            <i class="ri-link"></i>
                            <a href="">https://meet.google.com/whk-oqsx-hdd</a>
                        </div>
                        <div class="buttom">
                            <button>Pay Fees</button>
                            <button>Cancel Enrollment</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://ik.imagekit.io/sheryians/courses_gif/Backend_Development_with_Node.js___MongoDB-IMG_5350_kSLPI4u95.PNG" alt="">
                        </div>
                        <h2>Backend Development with Node.js & MongoDB</h2>
                        <div class="start">
                            <div class="circle">
                                <i class="ri-information-fill"></i>
                            </div>
                            <h3>Starting on <span>April 17th</span></h3>
                        </div>
                        <div class="time-date">
                            <div class="time">
                                <h3>time - <span>9:30</span> pm</h3>
                            </div>
                            <div class="day">
                                <h3>day - m t w t f <span>s s</span></h3>
                            </div>
                        </div>
                        <div class="link">
                            <i class="ri-link"></i>
                            <a href="">https://meet.google.com/uod-kmvu-htj</a>
                        </div>
                        <div class="buttom">
                            <button>Pay Fees</button>
                            <button>Cancel Enrollment</button>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>

        <div id="account">
            <h2>Abhay Gautam</h2>
            <button><i class="ri-user-6-line"></i> My Account</button>
            <button><i class="ri-logout-box-line"></i> Logout</button>
        </div>
    </div>

    <script>
        document.querySelectorAll(".select-card").forEach((cardBtn,item1)=>{
            cardBtn.addEventListener("click",()=>{
                document.querySelectorAll(".des-cards").forEach((desh,item2)=>{
                    if(item1 == item2){
                        document.querySelectorAll(".des-cards").forEach((deshReove,item2)=>{
                            deshReove.classList.remove("active")
                        })
                        desh.classList.add("active")
                    }
                })
            })
        })
        username.addEventListener("mouseenter",function(){
            document.querySelector("#account").style.scale = 1;
        });
        username.addEventListener("click",function(){
            document.querySelector("#account").style.scale = 0;
            // document.querySelector("#account").style.scale = 0;
        })
    </script>
</body>
</html>