<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians | Girls Who Code</title>
    <link rel="stylesheet" href="../../stylesheets/girlswhocode.css">
    <link rel="stylesheet" href="../../stylesheets/campus.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <!-- <link rel="stylesheet" href="cources.css"> -->
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">

        <!-- headerImg  -->
        <div id="headerImg"></div>
        <!-- headerImg \\ -->
        <!-- // header1  -->
        <div id="header1">
            <div class="search">
                <i class="ri-search-line"></i>
            </div>
        </div>
        <!-- // header1 \\  -->
        
        <!-- // header2   -->
         <div id="header2">
            <div class="top">
                <span>Shery Girls Who Code, Create, Design and Develop</span>
                <span>Shery Girls Who Code, Create, Design and Develop</span>
            </div>
            <div class="bottom">
                <p>Girls Who Code is a movement by Sheryians in which we're trying to balance out the ratio between men and women in tech, We're continously doing Free Events and Workshops, so that we see more <span> Girls Who Code.</span> </p>
            </div>
         </div>
         <!-- //header2 \\ -->

         <!-- // squad  -->
         <div id="squad">
            <div class="left">
                <h1>SQUAD</h1>
                <img src="https://ik.imagekit.io/sheryians/GWC1_DvhaPhBAO.jpg" alt="">
            </div>
            <div class="right">
                <div>
                    <p>Modern Girls who want modern change in the society where we see more men in tech and there should be some change regarding that. </p>
                        <h1>SQUAD</h1>
                </div>
                <div class="in">
                    <img src="https://ik.imagekit.io/sheryians/GWC3_GfoZfVvTY.png" alt="">
                    <img src="https://ik.imagekit.io/sheryians/GWC2_uSqYy85pQ.png" alt="">
                </div>
            </div>
         </div>
         <!-- // squad  -->

         <!-- /footer  -->
        <div class="footer">
            <div class="fLeft">
                <h1>Our
                   <br> Team</h1>
                   <div>
                        <i class="ri-arrow-right-down-line"></i>
                        <p>Sheryians Campus Ambassador, a group of elite coders, who work for a purpose, a purpose which will change the entire coding industry of Bhopal.</p>
                   </div>
            </div>
            <div class="fRight">
                <div class="content">
                <p>Everytime we face a student who suffers when it comes to computer education, it hurts and we want to change exactly that.</p>
                <div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2FDSC_0208%20(1).jpg?alt=media&token=0383a11a-9d14-4745-bdf2-5b008bbdadaf" alt="">
                </div>
                </div>
            </div>
        </div>
        <!-- /footer  \\ -->

         <!-- // nav bar  -->
            <%- include('nav.ejs')%>
        <!-- // nav bar \\ -->

    </div>
</body>
</html>