<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Coding School | Inertia</title>
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="../../stylesheets/campus.css">
    <link rel="stylesheet" href="../../stylesheets/inertia.css">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">

        <!-- // nav -->
        <%- include('nav.ejs')%>

        <!-- //header  -->
        <div id="page1">
            <div class="content">
                <h1>fastest growing coding community</h1>
                <p>Inertia is a fastest growing coding and designers community for students of bhopal, connect with people just like you, share notes, get coding help, reference for jobs, internships and others.</p>
                <button>Join Now, For Free</button>
                <img src="https://ik.imagekit.io/sheryians/Group_10_iOWEyfcKnI.png" alt="" class="like">
                <img src="https://ik.imagekit.io/sheryians/Group_18_oobwnpm3WX.png" alt="" class="tag">
                <div class="play"><i class="ri-play-fill"></i></div>
                <div class="join"><h4>joined</h4><i class="ri-checkbox-circle-fill"></i></div>
                <div class="coding"><i class="ri-code-view"></i></div>
                <div class="bookmark"><i class="ri-bookmark-fill"></i></div>
            </div>
        </div>

        <!-- // line 1 -->
        <div id="line"></div>
        <!-- // line 1 \\ -->

        <!-- // page 2  -->
        <div id="page2">
            <div class="top">
                <h4>powered by</h4>
                <h3>The Sheryians Coding School</h3>
            </div>
            <div class="bottom">
                <h1>Community by <span>coders</span> for coders.</h1>
                <h2>to help you crack your first <span>internship</span></h2>
            </div>
        </div>
        <!-- // page 2 \\  -->

        <!-- // page 3  -->
        <div id="page3">
            <div class="top">
                <h2>place to ask, share</h2>
                <h2>& help</h2>
            </div>
            <div class="bottom">
                <div class="first">
                    <span>sheryians coding school</span>
                    <span>sheryians coding school</span>
                    <span>sheryians coding school</span>
                </div>
                <div class="second">
                    <span>sheryians coding school</span>
                    <span>sheryians coding school</span>
                    <span>sheryians coding school</span>
                </div>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7rsg6Kd5gtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <!-- // page 3 \\ -->
        
        <!-- // page 4  -->
        <div id="page4">
            <div class="top">
                <span>inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia </span>
                <span>inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia </span>
                <span>inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia inertia </span>
            </div>
            <div class="bottom">
                <div class="card">
                    <h2>for cs / it</h2>
                    <p>connect with coders already working in</p>
                    <img src="https://ik.imagekit.io/sheryians/list1_tYvCztfRF.png" alt="">
                </div>
                
                <div class="card">
                    <h2>for me</h2>
                    <p>connect with coders already working in</p>
                    <img src="https://ik.imagekit.io/sheryians/list2_OC4FW-m_k.png" alt="">
                </div>
                <div class="card">
                    <h2>for ex</h2>
                    <p>connect with coders already working in</p>
                    <img src="https://ik.imagekit.io/sheryians/list3_YCGtSSmTF1.png" alt="">
                </div>
                <div class="card">
                    <h2>for passouts</h2>
                    <p>connect with coders already working in</p>
                    <img src="https://ik.imagekit.io/sheryians/list4_5qV-709ZE.png" alt="">
                </div>
                <div class="card">
                    <h2>for you</h2>
                    <p>connect with coders already working in</p>
                    <img src="https://ik.imagekit.io/sheryians/list5_yCpq5hjmAs.png" alt="">
                </div>
            </div>
            <div class="footer">
                <h2>made by sheryians.</h2>
                <h1>managed by <span>you.</span></h1>
                <div class="img">
                    <img src="https://ik.imagekit.io/sheryians/img_eIpj_7pr7u.png" alt="">
                    <p>important ye nahi ke humne banaya hai important ye hai ke aap log ise chalate ho.</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>