<!-- // nav  -->
<div class="nav w-full h-[8vh] flex bg-slate-900 px-[15px] md:px-[30px] justify-between fixed z-50">
    <div class="nav-l h-full flex items-center">
        <a href="/" class="flex items-center gap-3"><img class="w-[35px]" src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" alt=""> <h1 class="font-medium md:text-xl text-xl"> <span>| </span> True Coding School</h1></a>
    </div>
    <div class="nav-r flex items-center gap-3 md:gap-7 fill-white">
        <a href="/theme" class="theme-icon">
            <svg class="cursor-pointer" width="24px" height="24px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"><g id="Lager_93" data-name="Lager 93" transform="translate(2 2)"><g id="Sun_3_Brightness_3" data-name="Sun 3, Brightness 3"><path id="Path_68" data-name="Path 68" d="M32,14H27.033c-2,1.769-.779,4,.967,4h4.967C34.966,16.231,33.746,14,32,14Z"/><g id="Path_69" data-name="Path 69" stroke-miterlimit="10"><path d="M17.172,10.111a6,6,0,1,0,4.715,4.715A6.01,6.01,0,0,0,17.172,10.111Z"/><path d="M 15.99852275848389 13.99979972839355 C 15.40029907226563 13.99979972839355 14.83786392211914 14.26465797424316 14.45541763305664 14.72645950317383 C 14.18128776550293 15.05748176574707 13.88667678833008 15.62165832519531 14.04035758972168 16.43178939819336 C 14.1787109375 17.16349411010742 14.83581733703613 17.82003402709961 15.56771087646484 17.958740234375 C 15.71307563781738 17.98624801635742 15.85765266418457 18.00020027160645 15.99740505218506 18.00020027160645 C 16.59555816650391 18.00020027160645 17.15798187255859 17.73542404174805 17.54046440124512 17.27376556396484 C 17.81481742858887 16.94261169433594 18.1097583770752 16.37818908691406 17.95689964294434 15.57052993774414 C 17.81802749633789 14.83748245239258 17.1605224609375 14.17996406555176 16.42829895019531 14.041259765625 C 16.28293609619141 14.01375389099121 16.13835906982422 13.99979972839355 15.99860572814941 13.99979972839355 L 15.99852275848389 13.99979972839355 M 15.99860000610352 9.999795913696289 C 16.38235282897949 9.999801635742188 16.77459716796875 10.03580474853516 17.17200469970703 10.11100006103516 C 19.52100563049316 10.55599975585938 21.44199371337891 12.47699928283691 21.88699340820313 14.82600021362305 C 22.61180877685547 18.65568542480469 19.69624137878418 22.00020408630371 15.99740028381348 22.00020408630371 C 15.61366271972656 22.00020408630371 15.22141265869141 21.96419525146484 14.82400512695313 21.88899993896484 C 12.47600555419922 21.44400024414063 10.55400466918945 19.52299880981445 10.11000442504883 17.17499923706055 C 9.383377075195313 13.34440803527832 12.29961967468262 9.999755859375 15.99860000610352 9.999795913696289 Z"/></g><rect id="Rectangle_26" data-name="Rectangle 26" width="8" height="4" rx="1.993" transform="translate(26 14)"/><rect id="Rectangle_27" data-name="Rectangle 27" width="8" height="4" rx="1.993" transform="translate(18 26) rotate(90)"/><rect id="Rectangle_28" data-name="Rectangle 28" width="8" height="4" rx="1.993" transform="translate(18 -2) rotate(90)"/><rect id="Rectangle_29" data-name="Rectangle 29" width="8" height="4" rx="1.993" transform="translate(-2 14)"/><g id="Group_22" data-name="Group 22"><rect id="Rectangle_30" data-name="Rectangle 30" width="6.925" height="3.766" rx="1.883" transform="translate(23.22 6.117) rotate(-45)"/></g><g id="Group_23" data-name="Group 23"><rect id="Rectangle_31" data-name="Rectangle 31" width="3.766" height="6.925" rx="1.883" transform="matrix(0.707, -0.707, 0.707, 0.707, 23.22, 25.883)"/></g><g id="Group_24" data-name="Group 24"><rect id="Rectangle_32" data-name="Rectangle 32" width="3.766" height="6.925" rx="1.883" transform="translate(1.22 3.883) rotate(-45)"/></g><g id="Group_25" data-name="Group 25"><rect id="Rectangle_33" data-name="Rectangle 33" width="6.925" height="3.766" rx="1.883" transform="translate(1.22 28.117) rotate(-45)"/></g></g></g></svg>
        </a>
        <div class="notif cursor-pointer"><svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.ol1 {fill: var(--primaryDark);}</style><path class="ol1" d="M10 20h4c0 1.1-.9 2-2 2s-2-.9-2-2zm10-2.65V19H4v-1.65l2-1.88v-5.15C6 7.4 7.56 5.1 10 4.34v-.38c0-1.42 1.49-2.5 2.99-1.76.65.32 1.01 1.03 1.01 1.76v.39c2.44.75 4 3.06 4 5.98v5.15l2 1.87z"></path></svg></div>
        <div class="menu"><svg class="cursor-pointer" height="33" viewBox="0 0 24 24" width="33" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg></div>
    </div>
</div>
<!-- // hide nav  -->
<div class="w-full h-[8vh] flex bg-slate-900 px-[30px] justify-between">
    
</div>
<div class="menu-pg hidden w-[300px] min-h-[300px] bg-slate-700 fixed z-[10000] right-[58px] top-[6.5vh] rounded-lg p-2">
    <a href="/my-account" class="top-me flex gap-2 whitespace-nowrap line-clamp-1 items-center p-2 bg-slate-600 rounded">
        <%if(user.picture != ""){%>
            <img class="w-[55px] h-[55px] flex-shrink-0 rounded-full border border-slate-500 object-cover" src="../../admin/user-pic/<%= user.picture%>" alt="">
            <%}else{%>
                <img class="w-[55px] h-[55px] flex-shrink-0 rounded-full border border-slate-500 object-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Ic_account_circle_48px.svg/1200px-Ic_account_circle_48px.svg.png" alt="">
            <%}%>
        <div class="w-full flex flex-col justify-center">
            <h1 class="font-normal w-full text-lg leading-[1] text-ellipsis line-clamp-1 overflow-hidden"><%= user.username%></h1>
            <!-- <h3 class="font-normal text-sm leading-[1.1] text-ellipsis">Student Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis excepturi earum dolores ipsa possimus tenetur praesentium nihil est et odit, velit suscipit omnis amet voluptatem quod nam enim illo?</h3> -->
            <small class="font-medium leading-[1.1] text-slate-300"><%= user.email%></small>
        </div>
    </a>
    <a href="/" class="top-me top-hover flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-600 rounded">
        <h1>Home Page</h1>
    </a>
    <a href="/courses" class="top-me top-hover flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-600 rounded">
        <h1>Courses</h1>
    </a>
    <a href="/classroom" class="top-me top-hover flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-600 rounded">
        <h1>Classroom</h1>
    </a>
    
    <a href="/help" class="top-me top-hover flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-600 rounded">
        <h1>Help Center</h1>
    </a>

    <a href="/logout" class="top-me top-hover flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-600 rounded">
        <h1>Logout</h1>
    </a>
</div>
<script>
    let menuFlag = 0;
    document.querySelector(".menu").addEventListener("click",()=>{
        if(menuFlag == 0){
            document.querySelector(".menu-pg").classList.remove("hidden")
            menuFlag = 1;
        }else{
            document.querySelector(".menu-pg").classList.add("hidden")
            menuFlag = 0;
        }
    })

    document.addEventListener("contextmenu",(event)=>{
            event.preventDefault()
        })
        document.addEventListener("keydown",(event)=>{
            if(event.ctrlKey && event.shiftKey && (event.key === 'I' || event.key === 'i') || event.ctrlKey && event.shiftKey(event.key === 'U' || event.key === 'u')){
                event.preventDefault()
            }
        })

</script>
