<!-- // nav bar  -->

<style>
    .icons{
        width: 35px;
        height: 35px;
        border: 1px solid gray;
        border-radius: 50%;
        display: none;
    }
    #pro-picture-img{
        display: flex !important;
    }
    @media (min-width:320px) and (max-width:600px) {
        #pro-picture-img{
        display: none !important;
    }
    }
</style>
<nav id="navbar" class="nav" style="background: white;">
    <a href="/" class="left" style="text-decoration: none; color: black;">
        <img src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" alt="">
        <h1> <span>| </span> True Coding School</h1>
    </a>
    <div class="right">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/campus-ambussador">Campus Ambassador</a>
        <a href="/girls-who-code">Girls Who Code</a>
        <a href="/inertia">Inertia</a>
        <% if(user != ""){%>
            <div id="pro-picture-img" class="icons menu-btn" style="overflow: hidden; display: flex;align-items: center;justify-content: center; cursor: pointer;">
                <% if(user.picture != ""){%>
                    <img src="../../admin/user-pic/<%= user.picture%>" alt=""></div>
                <%}else{%>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Ic_account_circle_48px.svg/1200px-Ic_account_circle_48px.svg.png" alt=""></div>
                <%}%>
            <%}else{%>
                <a href="/signin">Sign In</a>
        <%}%>
    </div>
    <div class="toggle menu-btn">
                <span></span>
        <span></span>
        <span></span>
        
    </div>
</nav>
<script src="https://cdn.tailwindcss.com"></script>
<div class="menu-pg w-[250px] hidden min-h-[200px] md:bg-slate-100 bg-white fixed z-[9999900000] right-[0] md:right-[58px] top-[6.5vh] rounded-none md:rounded-lg p-2">
        <% if(user != ""){%>
            <a href="/my-account" class="top-me flex gap-2 whitespace-nowrap line-clamp-1 items-center p-2 bg-slate-200 rounded">
                <%if(user.picture != ""){%>
                    <img class="w-[45px] h-[45px] flex-shrink-0 rounded-full border border-slate-500 object-cover" src="../../admin/user-pic/<%= user.picture%>" alt="">
                    <%}else{%>
                        <img class="w-[45px] h-[45px] flex-shrink-0 rounded-full border border-slate-500 object-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Ic_account_circle_48px.svg/1200px-Ic_account_circle_48px.svg.png" alt="">
                    <%}%>
                <div class="w-full flex flex-col justify-center">
                    <h1 class="font-bold w-full text-lg leading-[1.5] text-ellipsis line-clamp-1 overflow-hidden"><%= user.username%></h1>
                    <!-- <h3 class="font-normal text-sm leading-[1.1] text-ellipsis">Student Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident perspiciatis excepturi earum dolores ipsa possimus tenetur praesentium nihil est et odit, velit suscipit omnis amet voluptatem quod nam enim illo?</h3> -->
                    <small class="font-medium leading-[1.1] text-slate-500"><%= user.email%></small>
                </div>
            </a>
            <a href="/classroom" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Classroom</h1></a>
            <a href="/courses" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Courses</h1></a>
            <a href="/campus-ambussador" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Campus Ambassador</h1></a>
            <a href="/girls-who-code" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Girls Who Code</h1></a>
            <a href="/inertia" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Inertia</h1></a>
        <%}else{%>
            <a href="/signin" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Sign In</h1></a>
            <a href="/courses" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Courses</h1></a>
            <a href="/campus-ambussador" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Campus Ambassador</h1></a>
            <a href="/girls-who-code" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Girls Who Code</h1></a>
            <a href="/inertia" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Inertia</h1></a>
        <%}%>
            <a href="/help" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Help Center</h1></a>
    <% if(user != ""){%>
        <a href="/logout" class="top-me flex gap-2 whitespace-nowrap mt-2 line-clamp-1 items-center p-2 font-medium text-sm hover:bg-slate-200 rounded"><h1>Logout</h1></a>
        <%}%>
    
</div>

<script>
    fleg = 0;
    document.querySelectorAll(".menu-btn").forEach(elem=>{
        elem.addEventListener("click",()=>{

            if(fleg == 0){
                document.querySelector(".menu-pg").classList.remove("hidden")
                fleg = 1;
            }else{
                document.querySelector(".menu-pg").classList.add("hidden")
                fleg =0
            }
        })
    })
   document.addEventListener("contextmenu",(event)=>{
             event.preventDefault()
       })
       document.addEventListener("keydown",(event)=>{
           if(event.ctrlKey && event.shiftKey && (event.key === 'I' || event.key === 'i') || event.ctrlKey && event.shiftKey(event.key === 'U' || event.key === 'u')){
               event.preventDefault()
           }
       })
    //    

    
</script>