<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
    <style>
        .form{
            scrollbar-width: none;
        }
        .form::-webkit-scrollbar{
            display: none;
        }
        li{
            color: black;
        }
    </style>
</head>
<body>
    <div id="main" class="max-w-[1580px] h-screen m-auto bg-white text-black dark:bg-slate-900 dark:text-white relative fill-black stroke-black dark:fill-white dark:stroke-white">
        <!-- // nav  -->
        <div class="nav w-full h-[8vh] flex bg-white dark:bg-slate-900 px-[15px] md:px-[30px] justify-between fixed z-50">
            <div class="nav-l h-full flex items-center">
                <a href="/" class="flex items-center gap-3"><img class="w-[35px]" src="https://firebasestorage.googleapis.com/v0/b/b24--project.appspot.com/o/sheryians%2Flogo%2FUntitled-2-modified.png?alt=media&token=cfd6a158-1040-4e4c-95a4-d88c5cfbdcde" alt=""> <h1 class="font-medium md:text-xl text-xl"> <span>| </span> True Coding School</h1></a>
            </div>
            <div class="nav-r flex items-center gap-3 md:gap-7">
                <div class="menu"><svg class="cursor-pointer" height="33" viewBox="0 0 24 24" width="33" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg></div>
            </div>
        </div>
        <!-- // hide nav  -->
        <div class="w-full h-[8vh] flex  px-[30px] justify-between"></div>
        <div class="w-full h-[92vh] flex flex-col items-center">
            <div class="container w-[100%] md:w-[60vh] h-full mt-5 md:mt-5 px-3 md:px-0">
                <h1 class="font-semibold text-2xl">Create new account</h1>
                <p class="text-sm">a step closer towards <span class="font-medium text-[#51b79d]">awesome</span> content.</p>
                
                <form action="/signup" class="w-full mt-4" method="post">
                    <div class="input flex flex-col">
                        <label for="" class="text-xs">FULL NAME *</label>
                        <input type="text" name="username" class="mt-1 text-sm font-normal tracking-[.7px] px-[15px] py-3 outline-none border border-slate-600" style="background: none;" placeholder="Enter full name">
                    </div>
                    <div class="input flex flex-col mt-2">
                        <label for="" class="text-xs">EMAIL *</label>
                        <input type="email" name="email" class="mt-1 text-sm font-normal tracking-[.7px] px-[15px] py-3 outline-none border border-slate-600" style="background: none;" placeholder="Enter email address">
                    </div>
                    <div class="input flex flex-col mt-2">
                        <label for="" class="text-xs">MOBILE *</label>
                        <input type="tel" name="mobile" id="phone" class="w-full text-black dark:text-white mt-1 text-sm font-normal tracking-[.7px] px-[15px] py-3 outline-none border border-slate-600" style="background: none;" placeholder="Enter mobile number">
                    </div>
                    <div class="input flex flex-col mt-2 relative">
                        <label for="" class="text-xs">PASSWORD *</label>
                        <div class="relative w-full overflow-hidden mt-1 border border-slate-600">
                            <input type="password" name="password" class="password w-full text-sm font-normal tracking-[.7px] px-[15px] py-3 outline-none pr-[30px]" style="background: none;" placeholder="Enter password">
                            <div class="icon-eye absolute right-0 w-[30px] h-[100%] text-black dark:text-white top-0 cursor-pointer flex items-center justify-center flex-shrink-0 font-thin"><i class="ri-eye-close-line font-thin"></i></div>
                        </div>
                    </div>
                    <div class="input flex items-center gap-3 mt-4">
                        <input type="checkbox" class="px-[15px] py-[10px] outline-none border border-slate-600" style="background: none;" placeholder="Enter email address">
                        <label for="" class="text-xs uppercase" style="background: none;">Keep me Logged in</label>
                    </div>
                    <button type="submit" class="w-full py-[10px] text-white font-medium bg-[#49a790] mt-2 mb-2 capitalize">create account</button>
                    <% if(typeof alert != "undefined"){%>
                        <p class="alert w-full text-center text-red-700"><%= alert%></p>
                    <%}%>
                    <div class="line w-full h-[1px] bg-slate-600 mt-5 mb-2"></div>
                    <span class="font-normal text-lg">Or sign up with :</span>
                    <a href="#" class="flex mb-2 gap-3 items-center text-white py-[10px] bg-[#a76049] dark:bg-slate-800 font-normal w-[100%] mt-3 justify-center">
                        <img class="flex-shrink-0" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=" alt="">
                        Sign up with Google
                    </a>
                    <span class="text-sm text-slate-600 dark:text-slate-200">Allready registered? <a href="/signin" class="font-medium text-black dark:text-white underline">Log in</a></span>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
    <script>
        // country code find
        var input = document.querySelector("#phone");
        var iti = window.intlTelInput(input, {
        separateDialCode: true,
        initialCountry: "in" // Set initial country to Canada (ISO 3166-1 alpha-2 code)
        });
        
        // Get the country code
        var countryCode = iti.getSelectedCountryData().dialCode;
        console.log(countryCode);
    </script>
    <script>
        let pas = 0
        let password = document.querySelector(".password")
        let eye = document.querySelector(".icon-eye i");
        document.querySelector(".icon-eye").addEventListener("click",()=>{
            if(pas === 0){
                eye.classList.remove("ri-eye-close-line");
                eye.classList.add("ri-eye-line");
                password.setAttribute("type","text")
                pas = 1
            }else{
                eye.classList.remove("ri-eye-line");
                eye.classList.add("ri-eye-close-line");
                password.setAttribute("type","password")
                pas = 0
            }
        })
        setTimeout(()=>{
            document.querySelector(".alert").textContent = ""
        },2000)
        document.addEventListener("contextmenu",(event)=>{
            event.preventDefault()
        })
        document.addEventListener("keydown",(event)=>{
            if(event.ctrlKey && event.shiftKey && (event.key === 'I' || event.key === 'i') || event.ctrlKey && event.shiftKey(event.key === 'U' || event.key === 'u')){
                event.preventDefault()
            }
        })
    </script>
</body>
</html>