@media (min-width:320px) and (max-width:600px) {
    
    
    /* // container  */
    #container{
        width: 85%;
        height: 80%;
        background-color: white;
        margin-top: 3%;
        margin-left: 7.5%;
        box-shadow: 0 0 10px rgb(221, 221, 221);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        margin-top: 8vh;
    }
    .container-left{
        width: 20%;
        height: 100%;
        border-right: 1px solid #E5F2FF;
        /* background-color: blueviolet; */
    }
    .container-left-top{
        width: 100%;
        height: 40%;
        /* background-color: cadetblue; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    .container-left-top .img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .3px solid gray;
        /* background-color: burlywood; */
    }.container-left-top .img img{
        width: 110%;
        height: 110%;
        object-fit: cover;
    }
    .container-left-top h2{
        font-size: 1.5vw;
        text-transform: uppercase;
        color: rgb(32, 32, 32);
    }
    .container-left-bottom{
        width: 100%;
        height: 60%;
        background-color: #E5F2FF;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .select-card{
        cursor: pointer;
        width: 100%;
        height: 15%;
        background-color: #D8EDFF;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 25px;
        color: rgb(42, 42, 42);
        position: relative;
    }.select-card i{
        font-size: 24px;
        color: rgb(83, 83, 83);
    }.select-card img{
        width: 25px;
    }
    .select-card::after{
        width: 10px;
        height: 100%;
        background-color: rgb(0, 94, 255);
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all ease .3s;
    }.select-card:hover:after{
        opacity: 1;
    }
    .container-right{
        width: 80%;
        height: 100%;
        /* overflow-y: auto;
        overflow-x: hidden; */
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }.container-right-card{
        display: flex;
        justify-content: space-evenly;
        opacity: 1;
    }
    .container-right .card{
        width: 40%;
        height: 80%;
        /* background-color: #67b8fe; */
        margin-top: 5%;
        box-shadow: 0 0 10px rgb(188, 188, 188);
        border-radius: 10px;
        padding: 10px;
        transition: all ease .5s;
    }
    .card .img{
        width: 100%;
        height: 40%;
        border-radius: 5px;
        overflow: hidden;
        background-color: #E5F2FF;
    }.card .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card h2{
        font-size: 1.4vw;
        margin-top: 10px;
        color: rgb(39, 39, 39);
    }
    .card:hover{
        scale: 1.03;
    }
    .start{
        width: 60%;
        height: 10%;
        margin-top: 10px;
        border-radius: 5px;
        border: .3px solid #67b8fe;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .circle{
        width: 35px;
        height: 35px;
        background-color: #67b8fe;
        border-radius: 50%;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.circle i{
        font-size: 25px;
        color: white;
    }
    .start h3{
        font-size: 1.1vw;
        color: rgb(43, 43, 43);
    }.start h3 span{
        color: #40a6ff;
    }
    .time-date{
        width: 100%;
        height: 10%;
        display: flex;
        margin-top: 10px;
        gap: 30px;
        /* background-color: #67b8fe; */
    }
    .time-date .time,.time-date .day{
        width: 40%;
        height: 90%;
        border: #67b8fe .3px solid;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.time-date .day{
        width: 50%;
    }
    .time h3,.day h3{
        font-size: 1.1vw;
        text-transform: uppercase;
        color: rgb(59, 59, 59);
    }.time h3 span{
        color: green;
        font-size: 1.4vw;
    }.day h3 span{
        color: rgb(176, 176, 176);
    }
    .link{
        width: 100%;
        height: 9%;
        border: .3px solid rgb(255, 214, 66);
        border-radius: 5px;
        margin-top: 8px;
        background-color: rgb(255, 242, 186);
        display: flex;
        align-items: center;
        padding: 0 20px;
        overflow: hidden;
    }
    .link i{
        color: rgb(255, 170, 0);
        font-size: 20px;
    }
    .link a{
        margin-left: 10px;
        
    }
    .buttom{
        width: 100%;
        height: 10%;
        display: flex;
        gap:     20px;
        align-items: center;
        margin-top: 8px;
    }
    .buttom button{
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        color: white;
        font-size: 1.1vw;
        font-weight: 600;
        background-color: #2181FF;
    }.buttom button:nth-child(2){
        background-color: #FE5A5A;
    }
    
    /* /// contsiner-right-2 */
    /* .contsiner-right-2{
        width:80%;
        height: 100%;
        background-color: #40a6ff;
    } */
    
    .container-right-card-1{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #ffff;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 4vw;
        opacity: 1;
        left: 100%;
    }
    .container-right-card-1 h1{
        font-size: 2.7vw;
        font-weight: 500;
    }
    .container-right-card-1 h1 span{
        color: #2181FF;
        text-transform: uppercase;
    }
    .container-right-card-1 p{
        font-size: 1.5vw;
        color: rgb(74, 74, 74);
        font-weight:400;
    }
    .container-right-card-1 .input-name{
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    .container-right-card-1 .input-name input{
        width: 21vw;
        padding: 12px 25px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
    }
    .input-email input{
        width: calc(42vw + 3vw);
        padding: 12px 25px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        font-weight: 400;
    }.input-mobile{
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    .input-mobile input{
        width: calc(21vw);
        padding: 12px 25px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
    }.input-mobile input:focus,.input-name input:focus,.input-email input:focus{
        border: 2px solid #2181FF;
    }
    .input-mobile button{
        width: 9vw;
        padding: 13px 25px;
        background-color: #5076E7;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        transition: all ease .3s;
    }.input-mobile button:nth-child(3){
        background-color: #F0F0F0;
        color: black;
    }.input-mobile button:hover{
        scale: 1.03;
    }
    
    /* // account  */
    #account{
        width: 20%;
        height: 25%;
        background-color: #e9f5ff6c;
        backdrop-filter: blur(15px);
        position: absolute;
        top: 8%;
        right: 5%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        scale: 0;
    }
    #account h2{
        text-transform: uppercase;
        font-size: 1.5vw;
        color: rgb(58, 58, 58);
    }
    #account button{
        width: 9vw;
        padding:9px 30px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        gap: 10px;
        border-radius: 5px;
        background-color: #2181FF;
        font-size: 1vw;
        font-weight: 600;
        border: none;
        color: white;
        transition: all ease .3s;
    }
    #account button i{
        font-size: 20px;
    }
    #account button:hover{
        background-color: #76b1ff;
    }
}