*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: gilroy; */
    font-family: sans-serif;
    scrollbar-width: none;
}
*::-webkit-scrollbar{
    display: none;
}
html,body{
    width: 100%;
}
#main{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999999999;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 40px;
    padding-right: 40px;
}
nav .left{
    display: flex;
    justify-content: left;
    gap: 20px;
    align-items: center;
}
nav .left img{
    width: 45px;
}nav .left h1{
   font-size: 20px;
   font-weight: 600;
}nav .left h1 span{
   font-weight: 300;
}
nav .right{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
}
nav .right a{
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: rgb(0, 0, 0);
    transition: all ease 0.2s;
}nav .right a:hover{
    color: rgb(73, 73, 73);
}
.toggle{
    display: none;
}


/* // hero */
#hero{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
#hero .left{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: aliceblue;
}
#hero .left .content{
    position: absolute;
    top: 20%;
    left: 10%;
}
#hero .left .content h1{
    font-size: 60px;
    width: 90%;
    font-weight: 600;
}#hero .left .content h1 span{
    font-size: 60px;
    width: 90%;
    font-weight: 600;
    color: #b22753;
}#hero .left .content .circle{
    display: flex;
    margin-top: 10px;
    justify-content: left;
    align-items: center;
}#hero .left .content .c{
    display: flex;
    margin-top: 60px;
    justify-content: left;
    align-items: center;
    width: 60%;
}
#hero .left .content .circle div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: rgb(0, 86, 160);
    color: aliceblue;
}
#hero .left .content .circle p{
    font-size: 18px;
}#hero .left .content .circle .p{
    font-size: 14px;
}#hero .left .content  button{
    font-size: 16px;
    margin-top: 60px;
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    background-color: #b22753;
    color: aliceblue;
    transition: all ease 0.2s;
}
#hero .left .content  button:hover{
    background-color: #237b6c;
}
#hero .right{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#hero .right img{
   width: 100%;
}


/* //hero 1  id  */
#hero1{
    width: 100%;
    height: 80vh;
    position: relative;
}
#hero1 .content{
    width: 40%;
    text-align: left;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero1 .content p:nth-child(1){
    font-size: 40px;
    font-weight: 500;
}#hero1 .content p:nth-child(2){
    font-size: 25px;
    color: rgb(55, 55, 55);
}
#hero1 .content .sponser .first{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    margin-top: 30px;
}
#hero1 .content .sponser img{
    width: 100px;
}

/* hero 2  */
#hero2 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#hero2 .left{
    width: 50%;
    height: 100%;
}#hero2 .left img{
    width: 60%;
    margin-left: 10%;
}
#hero2 .right {
    width: 50%;
    height: 100%;
    position: relative;
}
#hero2 .right .content{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero2 .right .content h1{
    font-size: 30px;
    color: rgb(33, 33, 33);
}#hero2 .right .content p{
    font-size: 18px;
    color: rgb(33, 33, 33);
    margin-top: 10px;
}#hero2 .right .content button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    font-size: 16px;
    margin-top: 10px;
    transition: all ease 0.3s;
    background-color: #b22753;
}
#hero2 .right .content button:hover{
    background-color: #b22753;
}


/* // slide  */
#slide{
    width: 100%;
    height: 90vh;
    background-color: #dddddd;
    padding-top: 0.5%;
}
#slide .top,#slide2 .top{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

#slide .top h2,#slide2 .top h2{
    width: 20%;
    font-size: 30px;
}#slide .top p,#slide2 .top p{
    width: 30%;
    font-size: 16px;
}#slide .top button,#slide2 .top button{
    padding: 10px 10px;
    font-weight: 600;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    background-color: #b22753;
    font-size: 16px;
    transition: all ease 0.2s;
}#slide .top button:hover,#slide2 .top button:hover{
    padding: 10px 10px;
    font-weight: 600;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    background-color: #319685;
    font-size: 16px;
}
#slide .bottom,#slide2 .bottom{
    width: 90%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
}
#slide .bottom .card,#slide2 .bottom .card{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}
#slide .bottom .card img{
    width: 90%;
    margin: 5%;
    overflow: hidden;
    border-radius: 5px;
    transition: all ease 0.4s;
}#slide .bottom .card img:hover{
    scale: 1.02;
}
#slide .bottom .card h3{
    margin: 5%;
    font-weight: 600;
    font-size: 14px;
}
#slide .bottom .card .pr{
    margin: 5%;
    line-clamp: 2;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
#slide .bottom .card .profile{
    height: 10%;
    display: flex;
    justify-content: left;
    /* background-color: #237b6c; */
    align-items: center;
    /* margin-left: 5%;     */
    position: absolute;
    bottom: 20px;
    background-color: white;
    width: 100%;
}
#slide .bottom .card .profile img{
    width: 40px;
    
}#slide .bottom .card .profile img:hover{
    scale: 1.1;
    
}
#slide .bottom .card .profile div p:nth-child(1){
    font-size: 14px;
    font-weight: 600;
}#slide .bottom .card .profile div p:nth-child(2){
    font-size: 12px;
    color: rgb(99, 99, 99);
    font-weight: 600;
}


/* // slide 2  */
#slide2{
    width: 100%;
    height: 90vh;
    background-color: #efefef;
    margin-top: 40px;
    padding-top: 0.5%;
}
#slide2 .card>img{
    width: 100%;
}#slide2 .card div{
    width: 85%;
    height: 25%;
    background-color: #cbb8b8aa;
    position: absolute;
    top: 80%;
    backdrop-filter: blur(5px);
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.645);
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}#slide2 .card div p:nth-child(1){
    font-size: 25px;
    font-weight: 600;
}#slide2 .card div p:nth-child(2){
    font-size: 13px;
    margin-top: 5px;
}#slide2 .card div p:nth-child(3){
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    color: #2e2e2eb0;
}
#slide2 .card div button{
    padding: 8px 10px;
    border: none;
    background-color: #4bd2bb;
    color: white;
    font-weight: 600;
    margin-top: 35px;
    margin-left: 15px;
    border-radius: 5px;
    transition: all ease 0.4s;
}
#slide2 .card div button:hover{
    background-color: #27b29b;
}
#slide2 .card>.Sarthak{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: -20%; */
}
#footer{
    width: 100%;
    height: 60vh;
    background-color: #11111C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
#footer .left{
    width: 50%;
    height: 100%;
    /* background-color: #4e8bdc; */
}
#footer .left .content{
    width: 70%;
    height: 50%;
    padding-left: 10%;
    padding-top: 10%;
}
#footer .left .content h1{
    font-size: 30px;
    color: white;
}
#footer .left .content p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: all ease 0.4s;
    margin-top: 10px;
}#footer .left .content p:hover{
    color: #b22753;

}
#footer .left .content .number{
    margin-top: 20px;
}#footer .left .content .number a{
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: px;
    transition: all ease 0.2s;
    font-size: 16px;
}#footer .left .content .number a:hover{
    color: #b22753;
}
#footer .left .content .icon{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    gap: 20px;
}
#footer .left .content .icon i{
    font-size: 30px;
    color: white;
    transition: all ease 0.2s;

}#footer .left .content .icon i:hover{
   color: #b22753;
}
#footer .right{
    width: 50%;
    height: 100%;
    position: relative;
}#footer .right .content{
    margin-left: 40%;
    margin-top: 10%;
   width: 50%;
}
#footer .right .content .join{
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 70px;
    font-size: 18px;
}
#footer .right .content .join h1{
    width: 80%;
    color: white;
    line-height: 30px;
}

#footer .right .content .join button{
    padding: 10px 20px;
    width:140px;
    height: 50px;
    background-color: #b22753;
    border-radius: 5px;
    transition: all ease 0.4s;
    white-space: nowrap;

    border: none;
}#footer .right .content .join button:hover{
    background-color: #b22753;

}
#footer .right .content p{
    color: white;
    font-size: 16px;
    width: 50%;
    margin-top: 20px;
}
#footer .right .copy{
    position: absolute;
    bottom: 10%;
    right: 5%;
    transition: all ease 0.2s;
    color: white;
}#footer .right .copy:hover{
    color: #841d3e;
}


@media (min-width:320px) and (max-width: 600px){
    nav{
        padding-left: 20px;
        padding-right: 20px;
        height: 7vh;
    }
    nav .left img{
        width: 24px;
    }
    nav .left h1{
        font-size: 16px;
    }
    nav .right{
        display: flex;
        justify-content: right;
        gap: 10px;
        align-items: center;
    }
    .icons{
        width: 35px;
        height: 35px;
        border: 1px solid gray;
        border-radius: 50%;
        display: none;
    }
    .right a{
        display: none;
    }
    .toggle{
        display: block;
        cursor: pointer;
    }
    .toggle span{
        width: 25px;
        height: 2px;
        background-color: #11111C;
        display: block;
        margin: 5px;
    }



    /* // hero */
    #hero{
        flex-direction: column-reverse;
        margin-top: 8vh;
    }
    #hero .left{
        width: 100%;
        height: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #hero .left .circle{
        margin-left: 50px;
    }
    #hero .left .content h1{
        font-size: 20px;
    }#hero .left .content h1 span{
        font-size: 20px;
    }
    #hero .left .content .c{
        display: flex;
        margin-top: 20px;
        justify-content: left;
        align-items: center;
        width: 60%;
        flex-direction: column;
    }
    #hero .left .content .c div{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    #hero .left .content .circle>div{
        width: 24px;
        height: 24px;
    }
    #hero .left .content .circle p{
        font-size: 14px;
    }#hero .left .content .circle .p{
        font-size: 14px;
    }#hero .left .content  button{
        margin-top: 20px;
        padding: 10px 20px;
    }
    #hero .right{
        width: 100%;
        height:50%;
    }

    /* //hero 1  id  */
    #hero1{
        height: 50vh;
        text-align: center;
    }
    #hero1 .content{
        width: 95%;
        text-align: center;
        height: 50%;
    }
    #hero1 .content p:nth-child(1){
        font-size: 24px;
    }#hero1 .content p:nth-child(2){
        font-size: 18px;
    }
    #hero1 .content .sponser .first{
        width: 100%;
        gap: 20px;
        padding: 0 20px;
        margin-top: 15px;
    }
    #hero1 .content .sponser img{
        width: 50px;
    }
    /* hero 2  */
    #hero2 {
        width: 100%;
        height: 60vh;
        flex-direction: column;
    }
    #hero2 .left{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }#hero2 .left img{
        width: 50%;
        margin-left: 0%;
    }
    #hero2 .right {
        width: 100%;
        height: 60%;
    }
    #hero2 .right .content{
        width: 90%;
        height: 60%;
        top: 30%;
        text-align: center;
    }
    #hero2 .right .content h1{
        font-size: 24px;
    }#hero2 .right .content p{
        font-size: 16px;
    }#hero2 .right .content button{
        padding: 10px 20px;
        font-weight: 600;
    }
    .page3{
        flex-direction: column-reverse !important;
    }

    /* // slide  */
    #slide{
        width: 100%;
        height: fit-content;
        background-color: #dddddd;
        padding-top: 0.5%;
    }
    #slide .top,#slide2 .top{
        width: 95%;
        height: 10vh;
        margin-left: 2.5%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #slide .top h2,#slide2 .top h2{
        width: 50%;
        font-size: 18px;
    }#slide .top p,#slide2 .top p{
        width: 50%;
        text-align: center;
        font-size: 14px;
        display: none;
    }#slide .top button,#slide2 .top button{
        font-size: 14px;
    }#slide .top button:hover,#slide2 .top button:hover{
        padding: 10px 10px;
        font-size: 14px;
    }
    #slide .bottom,#slide2 .bottom{
        width: 100%;
        margin-top: 3%;
        margin-left: 0%;
        padding: 8px;
        gap: 10px;
    }
    #slide .bottom .card,#slide2 .bottom .card{
        width: calc(100%);
        height: 57vh;
    }
    #slide .bottom .card h3{
        margin: 5%;
        margin-top: 0%;
        font-size: 18px;
    }
    #slide .bottom .card .pr{
        margin: 5%;
        margin-top: 2%;
        font-size: 14px;
    }
    /* // slide 2  */
    #slide2{
        width: 100%;
        height: fit-content;
        background-color: #efefef;
        margin-top: 0px;
        padding-top: 0.5%;
    }

    #footer{
        width: 100%;
        height: 60vh;
        flex-direction: column-reverse;
    }
    #footer .left{
        width: 100%;
        height: 65%;
        text-align: center;
        margin-top: 5%;
        /* background-color: #4e8bdc; */
    }
    #footer .left .content{
        width: 95%;
        height: 50%;
        padding-left: 0%;
    }
    #footer .left .content h1{
        font-size: 24px;
    }
    #footer .left .content p{
        color: white;
        font-weight: 600;
        font-size: 16px;
        transition: all ease 0.4s;
        margin-top: 10px;
    }#footer .left .content p:hover{
        color: #4e8bdc;
    
    }
    #footer .left .content .number{
        margin-top: 20px;
    }#footer .left .content .number a{
        font-weight: 500;
        font-size:16px;
    }
    #footer .left .content .icon{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    #footer .left .content .icon i{
        font-size: 24px;
        color: white;
        transition: all ease 0.2s;
    
    }#footer .left .content .icon i:hover{
       color: #4e8bdc;
    }
    #footer .right{
        width: 100%;
        height: 35%;
        position: relative;
    }#footer .right .content{
        margin-left: 0%;
        margin-top: 5%;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    #footer .right .content .join{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }
    #footer .right .content .join h1{
        width: 90%;
        color: white;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
    }
    
    #footer .right .content .join button{
        padding: 8px 20px;
        white-space: nowrap;
        width: 90%;
        height: 40px;
        background-color: #83B6F9;
        border-radius: 5px;
        transition: all ease 0.4s;
        border: none;
    }
    #footer .right .content p{
        color: white;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
    }
    #footer .right .copy{
        width: 100%;
        bottom: -14%;
        left: 0%;
        text-align: center;
    }
}
